{% extends 'base.html' %}
{% block content %}
{% if tasks %}
<table>
    <tr>
        <th>Task</th>
        <th>Description</th>
        <th>Status</th>
        <th>Owner</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td><a href="{% url 'tasks:detail' task.id %}">{{ task.title }}</a></td>
        <td>{{ task.description }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.owner }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<a href="{% url 'tasks:task' %}">Create a new task</a>
{% endblock %}